@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Italic-VariableFont_wght.ttf');
    src : url("../fonts/rubik/Rubik-VariableFont_wght.ttf");
    /* src: url(/anapharm/public/fonts/rubik/Rubik-VariableFont_wght.ttf); */
}
